<a href="https://colab.research.google.com/github/Jane-BA/PythonNotes-Colab/blob/main/Conjuntos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Strings**

In [19]:
text = 'Ella sabe Python'
numbers = [1, 2, 3, 4]
tasks = ["t1", "t2", "t3"]

In [20]:
print("Ella" in text)  #True

size = len(text)

''' Indexing '''
print(size)
print(text[0])  #E
print(text[size - 1])  #n
print(text[-1])  #n
''' Slicing '''
# [inicio : final : saltos]
print(text[10:])  #Python
print(text[:5])  #Ella
print(text[10:16:2])  #Pto

True
16
E
n
n
Python
Ella
Pto

In [21]:
print(text.upper())  #Mayus
print(text.lower())  #Minus
print(text.count('a'))  #Num de 'a'

print(text.swapcase())  #Mayus a minus y viceversa
print(text.startswith('Ella'))  #True/False
print(text.endswith('Rust'))  #True/False
print(text.replace('Python', 'Go'))  #Reemplaza una palabra por otra

ELLA SABE PYTHON
ella sabe python
2
eLLA SABE pYTHON
True
False
Ella sabe Go

In [22]:
text_2 = 'este es un titulo'
print(text_2)
print(text_2.capitalize())  #Primera letra en mayus
print(text_2.title())  #Primera letra de c/palabra en mayus
print(text_2.isdigit())  #Es dijito ? True/False
print("398".isdigit())

este es un titulo
Este es un titulo
Este Es Un Titulo
False
True

In [29]:
numbers[-1] = 10
print(numbers)

numbers.append(700)
print(numbers)

numbers.insert(0, "Hola")
print(numbers)

hi = 'Hola'
print(hi.replace('H', 'J')) # Reemplazar

['Hola', 'Hola', 'Hola', 'Hola', 1, 2, 3, 10, 10, 10, 10, 10]
['Hola', 'Hola', 'Hola', 'Hola', 1, 2, 3, 10, 10, 10, 10, 10, 700]
['Hola', 'Hola', 'Hola', 'Hola', 'Hola', 1, 2, 3, 10, 10, 10, 10, 10, 700]
Jola

In [18]:
# Asigna valores a las variables con la separacion ("del simbolo")
edad, peso = "45, 189.5".split(",")
# El valor return, en las funciones, retornan tuplas cuando son varios valores
print(edad, peso)

45  189.5

# Conjuntos
**[ LISTAS ]** - ordenada - modificable - duplicados - indexado

---


**( TUPLAS )** - ord - NO mod - dupli - index

---


**{ SET }** - NO ord - NO mod - NO dupli - NO index

---


**{ DIC }** - ord - mod - NO dupli - Key:Value

# **Listas**

In [10]:
'''LISTAS'''
text = 'Ella sabe Python'

In [ ]:
'''Slicing'''
# [inicio : final : saltos]
print(text[:5])  #Ella
print(text[10:])  #Python
print(text[10:16:2])  #Pto

Ella
Python
Pto

In [11]:
sobrinos = ['Hugo', 'Paco', 'Luis']

# Agrega 1 valor
sobrinos.append("Antonio")
print(sobrinos)

# Agrega multiples valores
sobrinos.extend(['Maria', 'Teresa', 'Julio'])
print(sobrinos)

# Agrega en posici√≥n (posicion, valor)
sobrinos.insert(2, 'Jane')
print(sobrinos)

# Orden alfabetico sort() / reverse, desendente
sobrinos.sort(reverse=True)
print(sobrinos)

['Hugo', 'Paco', 'Luis', 'Antonio']
['Hugo', 'Paco', 'Luis', 'Antonio', 'Maria', 'Teresa', 'Julio']
['Hugo', 'Paco', 'Jane', 'Luis', 'Antonio', 'Maria', 'Teresa', 'Julio']
['Teresa', 'Paco', 'Maria', 'Luis', 'Julio', 'Jane', 'Hugo', 'Antonio']

In [ ]:
del sobrinos[0]; # Borra por indexado
print(sobrinos)

sobrinos.remove('Jane') #Borra por valor
print(sobrinos)

sobrinos.pop(2) #Borra por index
print(sobrinos)

sobrinos.clear() #Borra Todo
print(sobrinos)

['Paco', 'Maria', 'Luis', 'Julio', 'Jane', 'Hugo', 'Antonio']
['Paco', 'Maria', 'Luis', 'Julio', 'Hugo', 'Antonio']
['Paco', 'Maria', 'Julio', 'Hugo', 'Antonio']
[]


> Unir Listas

In [14]:
list1 = ['luka']
list2 = ['Hugo', 'Paco', 'Luis']
list3 = ['lolo']

form1 = list1 + list2 # Forma 1
print(form1)

for x in list2: # Forma 2
  list1.append(x)

print(list1)

list2.extend(list3) # Forma 3
print(list2)

['luka', 'Hugo', 'Paco', 'Luis']
['luka', 'Hugo', 'Paco', 'Luis']
['Hugo', 'Paco', 'Luis', 'lolo']

In [17]:
lista = ['Hugo', 'Paco', 'Luis', 'Lola']

# variable FOR elemento IN lista IF condicion IN variable
newList = [x.upper() for x in lista if 'a' in x]
print(newList)

# if x != 'apple'   -Si no es apple
# if x != 'banana' else 'orange'   -Si no es banana devuelve orange

['PACO', 'LOLA']

# **Tuplas**

In [2]:
x = (1, 2, 3)
y = 56, 57, 58
# Lista de tuplas
lista = [x, y]
print(lista)

[(1, 2, 3), (56, 57, 58)]

In [5]:
points = (12, 14, 9, 10, 9, 12)
print(points.count(9)); # Cuantas veces se repite (value)?

winer, second, *rest = points # Desempaquetado de *? valores restantes
print(winer, second, rest)

2
12 14 [9, 10, 9, 12]

In [9]:
fruits = ('a', 'b', 'c') # Empaquetar

x = list(fruits) # La convierto en lista para poder modificarla
x[1] = 'z'

y = tuple(x) # La convierto de nuevo en tupla
print(y)

(m, *n) = y # Desembalaje
print(m, n) # Guardar los valores en variables

('a', 'z', 'c')
a ['z', 'c']

# **Set**

In [ ]:
set_types = {1, 'hola', False, 12.12} # Permite distintos tipos de datos
print(set_types)
print(type(set_types))
print(len(set_types))

{False, 1, 'hola', 12.12}
<class 'set'>
4

In [ ]:
set_from_tuples = set(('abc', 'cbv', 'as', 'abc')) # No permite duplicados
print(set_from_tuples)

set_from_string = set('hoola') # Convierte a set un string
print(set_from_string)

{'as', 'cbv', 'abc'}
{'a', 'h', 'l', 'o'}

In [ ]:
set_countries = {'col', 'mex', 'bol'} # No tiene indexacion
print('col' in set_countries)

set_countries.add('pe') # A√±adir 1 valor
print(set_countries)
set_countries.update({'ar', 'ecua', 'pe'}) # A√±adir varios valores
print(set_countries)

set_countries.remove('col') # Remover, causa error si no encuantra la palabra
print(set_countries)
set_countries.discard('arg') # Descarta, no causa error
print(set_countries)

set_countries.clear() # Usar clear con cuidado, ya que lo borra todo
print(set_countries)
print(len(set_countries))

True
{'col', 'mex', 'bol', 'pe'}
{'col', 'bol', 'ar', 'pe', 'mex', 'ecua'}
{'bol', 'ar', 'pe', 'mex', 'ecua'}
{'bol', 'ar', 'pe', 'mex', 'ecua'}
set()
0



> Conjuntos

In [ ]:
set_a = {'col', 'mex', 'bol'}
set_b = {'pe', 'bol'}

In [ ]:
'''Todos los elementos de ambos conjuntos sin repetir duplicados'''
# col, mex, bol, pe
set_c = set_a.union(set_b)
print(set_c)
print(set_a | set_b)

{'col', 'bol', 'pe', 'mex'}
{'col', 'bol', 'pe', 'mex'}

In [ ]:
'''Solo muestra los elem duplicados al momento de intersectarse'''
# bol
set_c = set_a.intersection(set_b)
print(set_c)
print(set_a & set_b)

{'bol'}
{'bol'}

In [ ]:
'''Muestra los elementos diferentes a los del otro conjunto'''
# col, mex
set_c = set_a.difference(set_b)
print(set_c)
print(set_a - set_b)

{'col', 'mex'}
{'col', 'mex'}

In [ ]:
'''Muestra los elementos diferentes en cada conjunto, excluyendo los elem repetidos'''
# col, mex, pe
set_c = set_a.symmetric_difference(set_b)
print(set_c)
print(set_a ^ set_b)

{'col', 'mex', 'pe'}
{'col', 'mex', 'pe'}

# **Diccionarios**

In [ ]:
# Lista dentro de diccionario / dic = {key : value}
person = {
    'name' : 'Nicolas',
    'last' : 'Molina',
    'langs' : ['Python', 'JS'],
    'age' : 87
}
print(person);

{'name': 'Nicolas', 'last': 'Molina', 'langs': ['Python', 'JS'], 'age': 87}

In [ ]:
print(len(person)) # Tama√±o del dic

person['name'] = 'Santy' # Cambiar un valor
print(person['name'])

person['age'] -= 50 # Operaciones mat dentro del dic
print(person['age'])

4
Santy
37

In [ ]:
print('langs' in person) # Esta 'key/value' en el dic?
person['langs'].append('rust') # A√±ade valor a lista
print(person['langs'])

True
['Python', 'JS', 'rust']

In [ ]:
print('....get....')
print(person.get('name')) # Obtiene, valor espec√≠fico
print(person.get('unValor'))  #Usando GET evitamos errores

print('....items....')
print(person.items()) # Obtiene, todo en forma de lista

print('....keys....')
print(person.keys()) # Obtiene, todos los valores guardados

print('....values....')
print(person.values()) # Obtiene, todos los valores guardados

....get....
Santy
None
....items....
dict_items([('name', 'Santy'), ('last', 'Molina'), ('langs', ['Python', 'JS', 'rust']), ('age', 37)])
....keys....
dict_keys(['name', 'last', 'langs', 'age'])
....values....
dict_values(['Santy', 'Molina', ['Python', 'JS', 'rust'], 37])

In [ ]:
#Borrando ....
print(person)
del person['last']
print(person)
person.pop('age')
print(person)

{'name': 'Santy', 'last': 'Molina', 'langs': ['Python', 'JS', 'rust'], 'age': 37}
{'name': 'Santy', 'langs': ['Python', 'JS', 'rust'], 'age': 37}
{'name': 'Santy', 'langs': ['Python', 'JS', 'rust']}